/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,900);

body {
background-image: url(/assets/background.jpg);
}

h3 {
  font-family: Playfair;
}

p {
  font-family: Alegreya;
  margin-left: 10px;
  margin-right: 10px;
}

.col-md {
  border-radius: 5px;
}

.corners {
  border-radius: 5px;
}
.fancy-title{

  .summary {

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #C8E0E8;
  }

    height: 100%;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    text-align: center;
    background: #9fd9e6;
    border-radius: 5px;

      
    h2 {
		font-family: Pacifico;
		font-size: 25px;

      }
    h1 {
        margin-top: 10px;
        font-size: 29px;
      }
      h1 [class*="word"]{
        margin-right: 10px;
        margin-left: 10px;
      }
      h1 [class*="word"]:last-child{
        margin-right: 10px;
      }
      .demo2 [class*="char"]{
        margin-top: 10px;
        margin-right: 5px;
        line-height: 100%;
        font-family: helvetica;
        color: white;
        font-weight: bold;
        border-radius: 50px;
        text-align: center;
        display: inline-block;
        padding: 10px 15px;
        text-transform: uppercase;
      }
      .demo2 [class*="char"]:nth-child(3n+1) {
        background: #ed4a02;
      }
      .demo2 [class*="char"]:nth-child(3n+2) {
        background: #93ca31;
      }
      .demo2 [class*="char"]:nth-child(3n+3) {
        background: #feb300;
      }
      .demo2:hover [class*="char"]:nth-child(3n+1){
        -webkit-animation: color-1 1s infinite;
        -moz-animation: color-1 1s infinite;
        -o-animation: color-1 1s infinite;
        animation: color-1 1s infinite;
      }
      .demo2:hover [class*="char"]:nth-child(3n+2){
        -webkit-animation: color-2 1s infinite;
        -moz-animation: color-2 1s infinite;
        -o-animation: color-2 1s infinite;
        animation: color-2 1s infinite;
      }
      .demo2:hover [class*="char"]:nth-child(3n+3){
        -webkit-animation: color-3 1s infinite;
        -moz-animation: color-3 1s infinite;
        -o-animation: color-3 1s infinite;
        animation: color-3 1s infinite;
      }
      @-webkit-keyframes color-1 {
        0% { background: #ed4a02; }
        33% { background: #93ca31; }
        66% { background: #feb300; }
        100% { background: #ed4a02;}
      }
      @-moz-keyframes color-1 {
        0% { background: #ed4a02; }
        33% { background: #93ca31; }
        66% { background: #feb300; }
        100% { background: #ed4a02;}
      }
      @-webkit-keyframes color-2 {
        0% { background: #93ca31; }
        33% { background: #feb300; }
        66% { background: #ed4a02;}
        100% { background: #93ca31;}
      }
      @-moz-keyframes color-2 {
        0% { background: #93ca31; }
        33% { background: #feb300; }
        66% { background: #ed4a02;}
        100% { background: #93ca31;}
      }
      @-webkit-keyframes color-3 {
        0% { background: #feb300; }
        33% { background: #ed4a02; }
        66% { background: #93ca31;}
        100% { background: #feb300;}
      }
      @-moz-keyframes color-3 {
        0% { background: #feb300; }
        33% { background: #ed4a02; }
        66% { background: #93ca31;}
        100% { background: #feb300;}
      }
}
